@import "../index.module";

.traditionOuter {
    .tradition {
        background: url("/images/art/banner.png") no-repeat;
        background-size: cover;

        h1 {
            font-size: 54px;
            line-height: 78px;

            span {
                text-transform: lowercase;
            }
        }
    }
}

.tibarumalOuter {
    .tibarumal {
        display: flex;
        flex-direction: column;
        padding-top: 108px;
        padding-bottom: 106px;

        .tibarumalTop {
            h1 {
                text-align: center;
                margin-bottom: 74px;
            }
        }

        .tibarumalContent {
            display: flex;
            justify-content: center;

            .tibarumalLeft {
                display: flex;
                flex-direction: column;
                max-width: 611px;
                margin-right: 126px;

                img {
                    width: 100%;
                    margin-bottom: 52px;
                }

                p {
                    margin-bottom: 32px;
                }


            }

            .tibarumalRight {
                display: flex;
                flex-direction: column;
                max-width: 504px;

                img {
                    width: 100%;
                    margin-bottom: 49px;
                }
            }
        }


    }
}

.generationsOuter {
    background: #B0C6C9;

    .generations {
        display: flex;
        flex-direction: column;
        padding-top: 127px;
        padding-bottom: 114px;

        .generationsTop {
            display: flex;
            justify-content: space-between;
            margin-bottom: 88px;

            h1 {
                margin-bottom: 72px;
                font-size: 28px;
                line-height: 45px;
                text-transform: uppercase;

                span {
                    text-transform: lowercase;
                }
            }

            p {
                max-width: 504px;
            }
        }

        .generationsVid {
            margin-bottom: 67px;

            video {
                width: 100%;
                height: 462px;
            }
        }

        .generationsBottom {
            display: flex;
            justify-content: space-between;

            p {
                max-width: 100%;
            }
        }
    }
}

.inspiredOuter {
    .inspired {
        display: flex;
        justify-content: space-between;
        padding-top: 121px;
        padding-bottom: 207px;

        .inspiredLeft {
            max-width: 377px;
            padding-top: 167px;

            img {
                width: 100%;
            }
        }

        .inspiredRight {
            display: flex;
            flex-direction: column;
            max-width: 757px;

            h1 {
                margin-bottom: 77px;
                text-transform: uppercase;
                font-size: 44px;
                line-height: 60px;

                span {
                    text-transform: lowercase;
                }
            }

            img {
                margin-bottom: 53px;
                width: 100%;
            }


            .inspiredContent {
                display: flex;
                justify-content: space-between;


                img {
                    display: none;
                }

                .icRight {
                    p {
                        margin-bottom: 37px;
                    }
                }

            }
        }
    }
}


@media only screen and (max-width: 1280px) {


}

@media only screen and (max-width: 648px) {
    .traditionOuter {
        .tradition {
            background: url("/images/art/banner-mobile.png") no-repeat;
            background-size: cover;

            h1 {
                font-size: 28px;
                line-height: 38px;
                margin-bottom: 224px;
            }
        }
    }

    .tibarumalOuter {
        .tibarumal {
            padding-top: 37px;
            padding-bottom: 30px;

            .tibarumalTop {
                h1 {
                    text-align: left;
                    margin-bottom: 32px;
                    font-size: 18px;
                    line-height: 28px;
                }
            }

            .tibarumalContent {
                display: flex;
                justify-content: center;

                .tibarumalLeft {
                    max-width: 100%;
                    margin-right: 0;

                    img {
                        width: 100%;
                        margin-bottom: 26px;
                    }

                    p {
                        margin-bottom: 27px;
                    }


                }

                .tibarumalRight {
                    display: none;
                }
            }


        }
    }

    .generationsOuter {
        .generations {
            padding-top: 36px;
            padding-bottom: 30px;

            .generationsTop {
                display: flex;
                flex-direction: column;
                margin-bottom: 22px;

                h1 {
                    margin-bottom: 24px;
                    text-align: left;
                }

                p {
                    max-width: 100%;
                }
            }

            .generationsVid {
                margin-bottom: 10px;

                video {
                    width: 100%;
                    height: 281px;
                }
            }

            .generationsBottom {
                display: flex;
                justify-content: space-between;

                p {
                    max-width: 100%;
                    display: none;
                }
            }
        }
    }

    .inspiredOuter {
        .inspired {
            display: flex;
            justify-content: space-between;
            padding-top: 44px;
            padding-bottom: 34px;

            .inspiredLeft {
                display: none;
            }

            .inspiredRight {
                display: flex;
                flex-direction: column;
                max-width: 757px;

                h1 {
                    margin-bottom: 25px;
                    font-size: 24px;
                    line-height: 35px;
                }

                img {
                    margin-bottom: 21px;
                }


                .inspiredContent {
                    display: flex;
                    justify-content: space-between;


                    img {
                        display: flex;
                        height: 120px;
                        margin-right: 21px;
                    }

                    .icRight {
                        p {
                            margin-bottom: 23px;
                            font-family: TeodorTrialLightItalic, sans-serif;
                        }
                    }

                }
            }
        }
    }

}