@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import 'vars';


h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-size: 54px;
    line-height: 145.5%;
}

h2 {
    font-size: 28px;
    line-height: 149%;
}


p {
    font-size: 16px;
}

h1.sectionTitle {
    font-size: 32px;
    line-height: 143.5%;
    letter-spacing: 0.08em;
    color: rgba(0, 62, 82, 0.9);
    font-family: MillionaireTrialRoman, sans-serif;

    span {
        font-family: MillionaireTrialScript, sans-serif;
        letter-spacing: 0;
        margin-left: 4px;
    }
}

p.sectionSummary {
    font-family: TeodorTrialLight, sans-serif;
    font-size: 18px;
    line-height: 125%;
    letter-spacing: 0.06em;
    max-width: 986px;

    span {
        font-family: MillionaireTrialScript, sans-serif;
        letter-spacing: 0;
        margin-left: 4px;
    }
}

.bookIndex {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 68px;

    header {
        font-family: BickhamScriptPro, sans-serif;
        font-size: 32px;
        line-height: 116.5%;
    }

    span {
        color: lightgray;
    }
}


@media only screen and (max-width: 648px) {
    h1 {
        font-size: 24px;
        line-height: 151%;
    }

    h2 {
        font-size: 16px;
        line-height: 150%;
    }

    h3 {
        font-size: 16px;
        line-height: 150%;
    }

    p.sectionSummary {
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.05em;
        max-width: unset;
    }

    .bookIndex {
        margin-bottom: 0;

        header {
            font-size: 18px;
        }
    }

}

@font-face {
    font-family: 'MillionaireTrialItalic';
    font-display: swap;
    src: local('MillionaireTrialItalic'), url("/fonts/MillionaireTRIAL-Italic.otf") format('opentype');
}

@font-face {
    font-family: 'MillionaireTrialScript';
    font-display: swap;
    src: local('MillionaireTrialScript'), url("/fonts/MillionaireTRIAL-Script.otf") format('opentype');
}

@font-face {
    font-family: 'MillionaireTrialRoman';
    font-display: swap;
    src: local('MillionaireTrialRoman'), url("/fonts/MillionaireTRIAL-Roman.otf") format('opentype');
}


@font-face {
    font-family: 'TeodorTrial';
    font-display: swap;
    src: local('TeodorTrial'), url("/fonts/TeodorTRIAL-Medium.otf") format('opentype');
}

@font-face {
    font-family: 'TeodorTrialLight';
    font-display: swap;
    src: local('TeodorTrialLight'), url("/fonts/TeodorTRIAL-Light.otf") format('opentype');
}

@font-face {
    font-family: 'TeodorTrialLightItalic';
    font-display: swap;
    src: local('TeodorTrialLightItalic'), url("/fonts/TeodorTRIAL-LightItalic.otf") format('opentype');
}

@font-face {
    font-family: 'GoldenBookBold';
    font-display: swap;
    src: local('GoldenBookBold'), url("/fonts/Goldenbook W01 Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'GoldenBookLight';
    font-display: swap;
    src: local('GoldenBookLight'), url("/fonts/Goldenbook W01 Light.ttf") format('truetype');
}


@font-face {
    font-family: 'BickhamScriptPro';
    font-display: swap;
    src: local('GoldenBookLight'), url("/fonts/Goldenbook W01 Light.ttf") format('truetype');
}
