@import "../index.module";

.traditionOuter {
    .tradition {
        background: url("/images/heritage/banner.png") no-repeat;
        background-size: cover;

        h1 {
            font-size: 54px;
            line-height: 78px;

            span {
                text-transform: lowercase;
            }
        }

        p {
            max-width: 985px;
        }
    }
}

.vintageOuter {
    background: #B0C6C9;

    .vintage {
        display: flex;
        flex-direction: column;
        padding-top: 115px;
        padding-bottom: 115px;

        .vintageTop {
            display: flex;
            justify-content: space-between;
            margin-bottom: 80px;

            p {
                max-width: 635px;
            }
        }

        .vintageBanner {
            margin-bottom: 56px;

            img {
                width: 100%;
            }
        }

        .vintageCarousel {
            display: flex;
            justify-content: space-between;

            .carousel {
                display: flex;
                justify-content: flex-end;
                width: 50%;

                img {
                    height: 256px;
                    margin-left: 30px;
                }
            }


        }
    }
}

.sketchingOuter {
    .sketching {
        display: flex;
        padding-top: 108px;
        padding-bottom: 106px;

        .sketchingLeft {
            display: flex;
            flex-direction: column;
            max-width: 510px;
            margin-right: 98px;
            justify-content: space-between;

            h1 {
                margin-bottom: 26px;
            }

            .sketchingContent {
                display: flex;
                flex-direction: column;

                p {
                    margin-bottom: 124px;
                }

                .sketchingImages {
                    img {
                        width: 100%;
                    }

                    .img2 {
                        display: none;
                    }
                }

                section {
                    display: none;
                }
            }
        }

        .sketchingRight {
            display: flex;
            flex-direction: column;
            max-width: 635px;

            img {
                width: 100%;
                margin-bottom: 49px;
            }
        }
    }
}

.pickOuter {
    .pick {
        max-width: unset;

        .sliders {
            width: 100%;

            .slide {
                width: 100%;
                padding: 80px 100px;
                background: url("/images/heritage/picking/1.png") no-repeat;
                background-size: cover;

                h1 {
                    margin-bottom: 270px;
                    text-transform: uppercase;
                    color: white;
                    font-size: 54px;
                    line-height: 69px;
                    font-weight: 400;

                    span {
                        text-transform: lowercase;
                    }
                }

                .slideContent {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    margin-bottom: 62px;

                    p {
                        max-width: 889px;
                        color: white;
                        font-weight: 300;
                        font-size: 20px;
                        line-height: 140%;
                    }
                }

            }
        }
    }
}

@media only screen and (max-width: 1280px) {


}


@media only screen and (max-width: 648px) {
    .traditionOuter {
        .tradition {
            background: url("/images/heritage/banner_mobile.png") no-repeat;
            background-size: cover;

            h1 {
                font-size: 24px;
                line-height: 142%;
            }
        }
    }

    .vintageOuter {
        .vintage {
            padding-top: 47px;
            padding-bottom: 42px;

            .vintageTop {
                display: flex;
                flex-direction: column;
                margin-bottom: 40px;

                h1 {
                    font-size: 18px;
                    line-height: 24px;
                    margin-bottom: 20px;
                }
            }

            .vintageBanner {
                margin-bottom: 24px;

                img {
                    width: 100%;
                }
            }

            .vintageCarousel {
                display: flex;
                flex-direction: column-reverse;

                .carousel {
                    width: 100%;
                    margin-bottom: 27px;

                    div {
                        img {
                            width: 260px;
                        }
                    }
                }
            }
        }
    }

    .sketchingOuter {
        .sketching {
            display: flex;
            padding-top: 38px;
            padding-bottom: 0;

            .sketchingLeft {
                max-width: 100%;
                margin-right: 0;

                h1 {
                    margin-bottom: 26px;
                }

                .sketchingContent {
                    flex-direction: column-reverse;

                    p {
                        margin-bottom: 25px;
                    }

                    .sketchingImages {
                        display: flex;
                        justify-content: space-between;
                        overflow-x: auto;
                        margin-bottom: 31px;

                        img {
                            width: 260px;
                            margin-right: 20px;
                        }

                        .img2 {
                            display: flex;
                        }
                    }

                    section {
                        display: flex;
                    }
                }

            }

            .sketchingRight {
                display: none;
            }
        }
    }

    .pickOuter {
        .pick {
            padding-top: 20px;
            padding-bottom: 0;
            max-width: unset;

            .sliders {
                width: 100%;

                .slide {
                    width: 100%;
                    padding: 20px 20px;
                    background: url("/images/heritage/picking/1_mobile.png") no-repeat;
                    background-size: cover;

                    h1 {
                        margin-bottom: 300px;
                        font-size: 24px;
                        line-height: 35px;
                    }

                    .slideContent {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 25px;

                        p {
                            font-size: 12px;
                            line-height: 120%;
                            letter-spacing: 0.04em;
                        }
                    }

                }

            }
        }


    }


}
