@import "../index.module";

.traditionOuter {
    .tradition {
        background: url("/images/discover-luxury/banner.png") no-repeat;
        background-size: cover;

        h1 {
            font-size: 54px;
            line-height: 78px;

            span {
                text-transform: lowercase;
            }
        }

        p {
            span {
                font-family: TeodorTrialLightItalic, sans-serif;
            }
        }
    }
}

.virtualOuter {
    .virtual {
        display: flex;
        flex-direction: column;
        padding-top: 115px;

        .virtualTop {
            display: flex;
            justify-content: space-between;
            margin-bottom: 88px;

            h1 {
                font-size: 28px;
                line-height: 40px;
                text-transform: uppercase;

                span {
                    text-transform: lowercase;
                }
            }

            p {
                max-width: 376px;

                span {
                    font-family: TeodorTrial, sans-serif;
                    font-weight: 500;
                    cursor: pointer;
                }
            }
        }

        .virtualCarousel {
            display: flex;
            justify-content: space-between;

            video {
                max-width: 376px;
            }
        }
    }
}

.boxedOuter {
    .boxed {
        display: flex;
        flex-direction: column;
        padding-top: 173px;
        padding-bottom: 137px;

        .boxedTop {
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;

            h1 {
                margin-bottom: 72px;
                text-align: center;
                text-transform: uppercase;
                font-size: 44px;
                line-height: normal;

                span {
                    text-transform: lowercase;
                }
            }
        }

        .boxedBottom {
            display: flex;
            justify-content: space-between;

            .boxedBLeft {
                margin-right: 35px;

                img {
                    width: 100%;
                    max-width: 739px;
                }
            }

            .boxedBRight {
                display: flex;
                flex-direction: column;
                max-width: 464px;

                img {
                    margin-bottom: 25px;
                }
            }


        }
    }
}

.giftWrappingOuter {
    background: #B0C6C9;

    .giftWrapping {
        display: flex;
        padding-top: 110px;
        padding-bottom: 144px;

        .giftWrappingLeft {
            display: flex;
            flex-direction: column;
            max-width: 629px;
            margin-right: 125px;
            justify-content: space-between;

            h1 {
                margin-bottom: 59px;
                color: black;
                font-size: 54px;
                text-transform: uppercase;
                font-weight: 400;

                span {
                    text-transform: capitalize;
                }
            }

            img {
                width: 100%;
            }
        }

        .giftWrappingRight {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 485px;

            p {
                margin-top: 125px;
            }

            img {
                width: 100%;
            }
        }
    }
}


@media only screen and (max-width: 1280px) {


}


@media only screen and (max-width: 648px) {
    .traditionOuter {
        .tradition {
            background: url("/images/discover-luxury/banner_mobile.png") no-repeat;
            background-size: cover;

            h1 {
                font-size: 28px;
                line-height: 38px;
                margin-bottom: 236px;
            }
        }
    }

    .virtualOuter {
        .virtual {
            padding-top: 30px;

            .virtualTop {
                flex-direction: column;
                margin-bottom: 30px;

                h1 {
                    margin-bottom: 15px;
                    font-size: 18px;
                    line-height: 28px;
                }

                p {
                    max-width: 376px;
                }
            }

            .virtualCarousel {
                flex-direction: column;

                img {
                    width: 100%;
                    margin-right: 0;
                }

                video {
                    height: unset;
                    width: 100%;
                }
            }
        }
    }

    .boxedOuter {
        .boxed {
            padding-top: 52px;
            padding-bottom: 35px;

            .boxedTop {
                margin-bottom: 18px;

                h1 {
                    margin-bottom: 15px;
                    text-align: left;
                    font-size: 24px;
                    line-height: 40px;
                }

                video {
                    height: 203px;
                }
            }


            .boxedBottom {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                .boxedBLeft {
                    margin-right: 0;
                    margin-bottom: 20px;
                }

                .boxedBRight {
                    flex-direction: column-reverse;
                    max-width: 100%;

                    img {
                        margin-bottom: 25px;
                        max-width: 220px;
                    }
                }


                p {
                    max-width: unset;
                    margin-right: 0;
                    margin-bottom: 22px;
                }
            }
        }
    }

    .giftWrappingOuter {
        .giftWrapping {
            flex-direction: column;
            padding-top: 30px;
            padding-bottom: 30px;

            .giftWrappingLeft {
                max-width: unset;
                margin-right: 0;
                margin-bottom: 25px;

                h1 {
                    margin-bottom: 28px;
                    font-size: 24px;
                    line-height: 40px;
                }

                img {
                    max-width: 264px;
                }
            }

            .giftWrappingRight {
                display: flex;
                flex-direction: column-reverse;
                max-width: unset;

                img {
                    margin-bottom: 22px;
                }

                p {
                    margin-top: 0;
                }
            }
        }
    }

}