@import "../index.module";

.traditionOuter {
    .tradition {
        background: url("/images/iconic/banner.png") no-repeat;
        background-size: cover;

        h1 {
            font-size: 54px;
            line-height: 78px;

            span {
                text-transform: lowercase;
            }
        }
    }
}

.storyOuter {
    .story {
        display: flex;
        flex-direction: column;
        padding-top: 112px;
        padding-bottom: 112px;

        .storyHeader {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 38px;

            h1 {
                text-transform: uppercase;
                font-size: 44px;
                line-height: 60px;

                span {
                    text-transform: lowercase;
                }
            }
        }

        .storyTop {
            display: flex;
            justify-content: space-between;

            .stLeft {
                max-width: 630px;

                img {
                    width: 100%;
                }
            }

            .stRight {
                max-width: 510px;
            }
        }


        .storyBottom {
            display: flex;
            justify-content: space-between;

            .sbLeft {
                max-width: 630px;
                padding-top: 49px;
            }

            .sbRight {
                max-width: 510px;

                img {
                    width: 100%;
                }
            }
        }
    }
}

.rareOuter {
    .rare {
        display: flex;
        flex-direction: column;
        padding-top: 72px;
        padding-bottom: 171px;

        .rareHeader {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 61px;

            header {
                font-size: 44px;
                line-height: 42%;
            }

            h1 {
                text-transform: uppercase;
                font-size: 54px;
                line-height: 69px;

                span {
                    text-transform: lowercase;
                }
            }
        }

        .rareTop {
            margin-bottom: 42px;
        }


        .rareBottom {
            display: flex;
            justify-content: space-between;

            .rbLeft {
                display: flex;
                flex-direction: column;
                max-width: 882px;

                p {
                    margin-bottom: 40px;
                }
            }
        }
    }
}

.movementOuter {
    background: #B0C6C9;

    .movement {
        display: flex;
        justify-content: space-between;
        padding-top: 94px;
        padding-bottom: 111px;

        .movementLeft {
            display: flex;
            flex-direction: column;
            max-width: 610px;

            h1 {
                text-transform: uppercase;
                margin-bottom: 24px;
                font-size: 44px;
                line-height: 60px;

                span {
                    text-transform: lowercase;
                }
            }

            .mvLeftContent {
                p {
                    margin-bottom: 112px;
                }

                .mvLeftImages {
                    display: flex;

                    .m2 {
                        display: none;
                    }

                    img {
                        width: 100%;
                    }
                }
            }
        }

        .movementRight {
            img {
                margin-bottom: 42px;
            }
        }
    }
}

@media only screen and (max-width: 1280px) {


}


@media only screen and (max-width: 648px) {
    .traditionOuter {
        .tradition {
            background: url("/images/iconic/banner_mobile.png") no-repeat;
            background-size: cover;

            h1 {
                font-size: 28px;
                line-height: 144.5%;
            }
        }
    }

    .storyOuter {
        .story {
            padding-top: 40px;
            padding-bottom: 40px;

            .storyHeader {
                margin-bottom: 22px;

                h1 {
                    font-size: 20px;
                    line-height: 30px;
                }
            }

            .storyTop {
                display: flex;
                flex-direction: column;
                margin-bottom: 24px;

                .stLeft {
                    margin-bottom: 27px;
                }

                .stRight {
                    max-width: 504px;
                }
            }


            .storyBottom {
                display: flex;
                flex-direction: column-reverse;

                .sbLeft {
                    padding-top: 29px;
                }
            }
        }
    }

    .rareOuter {
        .rare {
            padding-top: 12px;
            padding-bottom: 35px;

            .rareHeader {
                margin-bottom: 31px;

                h1 {
                    font-size: 24px;
                    line-height: 35px;
                }

                header {
                    display: none;
                }
            }

            .rareTop {
                margin-bottom: 19px;

                img {
                    width: 100%;
                }
            }


            .rareBottom {
                display: flex;
                justify-content: space-between;

                .rbLeft {
                    display: flex;
                    flex-direction: column;
                    max-width: 263px;

                    p {
                        margin-bottom: 17px;
                    }
                }
            }
        }
    }

    .movementOuter {
        .movement {
            display: flex;
            flex-direction: column;
            padding-top: 35px;
            padding-bottom: 35px;

            .movementLeft {
                display: flex;
                flex-direction: column;
                margin-bottom: 21px;

                h1 {
                    font-size: 24px;
                    line-height: 35px;
                }

                .mvLeftContent {
                    display: flex;
                    flex-direction: column-reverse;

                    p {
                        margin-bottom: 0;
                    }

                    .mvLeftImages {
                        display: flex;
                        margin-bottom: 18px;
                    }
                }
            }

            .movementRight {
                img {
                    display: none;
                }
            }
        }
    }

}
