.traditionOuter {
    .tradition {
        max-width: unset;
        background: url("/images/homepage/banner.png") no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #FFFFFF;

        h1 {
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            font-weight: 400;
            font-family: MillionaireTrialRoman, sans-serif;
            line-height: 145.5%;
            margin-top: 325px;
            margin-bottom: 187px;

            span {
                text-transform: capitalize;
                font-family: MillionaireTrialScript, sans-serif;
                letter-spacing: 0;
            }

            .lower {
                text-transform: lowercase;
            }
        }

        header {
            margin-bottom: 225px;
            height: 78px;
            width: 1px;
            background: white;
        }

        p {
            font-size: 20px;
            color: #FFFFFF;
            line-height: 125%;
            text-align: center;
            letter-spacing: 0.05em;
            font-family: TeodorTrialLight, sans-serif;
            max-width: 1051px;
            margin-bottom: 120px;
        }
    }
}

.preservingOuter {
    .preserving {
        display: flex;
        padding-top: 130px;

        .pLeft {
            max-width: 302px;
            margin-right: 83px;

            h1 {
                font-size: 28px;
                line-height: 40px;
                letter-spacing: 0.08em;
                text-transform: uppercase;
                color: rgba(0, 62, 82, 0.9);
                font-family: MillionaireTrialRoman, sans-serif;
                margin-bottom: 25px;

                span {
                    font-family: MillionaireTrialRoman, sans-serif;
                    font-size: 28px;
                    line-height: 40px;
                }
            }

            p {
                font-family: TeodorTrialLight, sans-serif;
                font-size: 16px;
                line-height: 130%;
                letter-spacing: 0.06em;
                margin-bottom: 62px;


            }
        }

        .pRight {
            section {
                display: none;
            }
        }
    }
}

.distinguishedOuter {
    .distinguished {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 130px;

        .disTop {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 68px;

            h1 {
                font-size: 28px;
                line-height: 149%;
                letter-spacing: 0.08em;
                text-transform: uppercase;
                margin-bottom: 25px;
                text-align: center;

                span {
                    font-family: MillionaireTrialRoman, sans-serif;
                    font-size: 28px;
                    line-height: 40px;
                }
            }

            p {
                font-family: TeodorTrialLight, sans-serif;
                font-size: 16px;
                line-height: 130%;
                letter-spacing: 0.06em;
                text-align: center;
            }
        }

        .disBottom {
            display: flex;
            margin-bottom: 72px;

            img {
                width: 100%;
                margin: 0 10px;
            }
        }
    }
}

.timelessOuter {
    .timeless {
        display: flex;
        justify-content: space-between;
        padding-top: 232px;

        .tlLeft {
            display: flex;
            flex-direction: column;
            margin-right: 82px;

            .tlContent {
                display: flex;
                margin-bottom: 161px;

                .tlContImages {
                    margin-right: 98px;
                    width: 100%;

                    .timelessone {
                        width: 100%;
                        max-width: 380px;
                    }

                    .timelesstwo {
                        display: none;
                    }
                }


                .tlCreation {
                    display: flex;
                    flex-direction: column;
                    max-width: 299px;

                    h1 {
                        text-transform: uppercase;
                        color: rgba(0, 62, 82, 0.9);
                        margin-bottom: 61px;
                    }

                    p {
                        font-family: TeodorTrialLight, sans-serif;
                        font-size: 16px;
                        line-height: 130%;
                        letter-spacing: 0.06em;
                        margin-bottom: 62px;

                        span {


                        }
                    }

                    .tlContImages {
                        display: none;
                    }
                }
            }

            .timelesstwo {
                margin-left: 128px;
                max-width: 603px;
                width: 100%;
            }

            section {
                margin-left: 128px;
                margin-top: 80px;
            }
        }

        .tlRight {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 380px;

            img {
                width: 100%;
            }

            .timelessfour {
                margin-bottom: 118px;
            }

            a, section {
                display: none;
            }
        }
    }

}

.findOuter {
    .find {
        max-width: unset;
        background: url("/images/homepage/find.png") no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        padding-top: 130px;
        padding-bottom: 130px;
        margin-top: 172px;

        h1 {
            margin-bottom: 63px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #FFFFFF;
            font-size: 54px;
            line-height: 74px;
            font-weight: 400;

            span {
                text-transform: lowercase;
            }

            .lower {
                text-transform: lowercase;
            }
        }

        p {
            margin-bottom: 113px;
            max-width: 631px;
            color: white;
        }

        .sliders {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            .sliderImg {
                width: 100%;
                margin-right: 20px;
                max-width: 351px;
            }

            .btn {
                margin-left: 50px;
            }
        }
    }
}

.sgExOuter {
    background: #B0C6C9;

    .sgEx {
        display: flex;
        flex-direction: column;
        padding-top: 227px;
        padding-bottom: 239px;

        .sgExTop {
            display: flex;
            justify-content: space-between;
            margin-bottom: 126px;

            h2 {
                font-size: 28px;
                line-height: 40px;
                letter-spacing: 0.08em;
                text-transform: uppercase;
                color: rgba(0, 62, 82, 0.9);
                font-family: MillionaireTrialRoman, sans-serif;
            }

            p {
                font-size: 18px;
                line-height: 125%;
                letter-spacing: 0.05em;
                font-family: TeodorTrialLight, sans-serif;
                max-width: 508px;
            }
        }

        .sgExBottom {
            display: flex;
            justify-content: space-between;

            .sgExBLeft {
                display: flex;
                flex-direction: column;
                max-width: 635px;

                p {
                    margin-top: 26px;
                    margin-bottom: 172px;
                    font-family: MillionaireTrialScript, sans-serif;
                    font-size: 24px;
                    line-height: 134.5%;
                    color: #003E52;
                }

                img {
                    width: 100%;
                }

                .summary {
                    display: none;
                }
            }

            .sgExBRight {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                max-width: 635px;

                header {
                    font-family: MillionaireTrialScript, sans-serif;
                    font-size: 24px;
                    line-height: 134.5%;
                    color: #003E52;
                    white-space: nowrap;
                }

                .timelessthree {
                    img {
                        margin-bottom: 26px;
                        width: 100%;
                    }
                }

                .timelessfour {
                    display: flex;

                    img {
                        margin-right: 26px;
                        width: 100%;
                    }
                }
            }

            .sgExButton {
                display: none;
            }


        }

    }
}

.legacyOuter {
    padding-bottom: 140px;

    .legacy {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 160px 0 0 0;
        max-width: unset;

        .legTop {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 68px;
            padding: 0 100px;

            h1 {
                font-size: 32px;
                line-height: 143.5%;
                letter-spacing: 0.08em;
                text-transform: uppercase;
                color: rgba(0, 62, 82, 0.9);
                font-family: MillionaireTrialRoman, sans-serif;
                margin-bottom: 25px;
                text-align: center;

                span {
                    text-transform: lowercase;
                    font-family: MillionaireTrialScript, sans-serif;
                    letter-spacing: 0;
                }
            }

            p {
                font-family: TeodorTrialLight, sans-serif;
                font-size: 18px;
                line-height: 125%;
                letter-spacing: 0.06em;
                max-width: 986px;
                text-align: center;
            }

            .legBottom {
                display: none;
            }
        }

        .legBottom {
            display: flex;
            margin-bottom: 53px;

            img {
                width: 100vw;
            }
        }
    }
}

.bookOuter {
    .book {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 160px 0 0 0;
        max-width: unset;

        .bookTop {
            display: flex;
            flex-direction: column;
            padding: 0 100px;
            margin-bottom: 68px;

            h1 {
                font-size: 54px;
                line-height: 75px;
                margin-bottom: 25px;
            }

            p {
                font-family: TeodorTrialLight, sans-serif;
                font-size: 18px;
                line-height: 125%;
                letter-spacing: 0.06em;
                max-width: 604px;

            }
        }

        .bookBottom {
            div {
                img {
                    width: 100%;
                }
            }
        }

        .bookButtons {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0 100px;
            max-width: 1440px;
            margin: 48px 0;
        }
    }
}


@media only screen and (max-width: 1280px) {


}


@media only screen and (max-width: 648px) {
    .traditionOuter {
        .tradition {
            background: url("/images/homepage/banner_mobile.png") no-repeat;
            background-size: cover;

            h1 {
                margin-bottom: 116px;
                margin-top: 166px;
            }

            header {
                margin-bottom: 116px;
            }

            p {
                font-size: 12px;
                line-height: 125%;
                font-family: TeodorTrialLightItalic, sans-serif;
                margin-bottom: 20px;
            }
        }
    }

    .preservingOuter {
        .preserving {
            display: flex;
            flex-direction: column;
            padding-top: 55px;

            .pLeft {
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: unset;
                margin-right: 0;
                margin-bottom: 25px;

                h1 {
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 12px;
                    text-align: center;

                    span {
                        font-family: MillionaireTrialScript, sans-serif;
                        font-size: 16px;
                        line-height: 24px;
                        text-transform: lowercase;
                    }
                }

                p {
                    margin-bottom: 25px;
                    font-size: 12px;
                    line-height: 120%;
                }

                section {
                    display: none;
                }
            }

            .pRight {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    width: 100%;
                    margin-bottom: 33px;
                }

                section {
                    display: flex;
                }
            }
        }
    }

    .distinguishedOuter {
        .distinguished {
            padding-top: 80px;

            .disTop {
                margin-bottom: 28px;

                h1 {
                    font-size: 16px;
                    line-height: 150%;
                    letter-spacing: 0.1em;
                    margin-bottom: 18px;

                    span {
                        font-size: 16px;
                        line-height: 24px;
                    }
                }

                p {
                    font-size: 12px;
                    line-height: 120%;
                    letter-spacing: 0.07em;
                    text-align: center;
                }
            }

            .disBottom {
                display: flex;
                margin-bottom: 26px;
                overflow-x: auto;

                img {
                    width: 80%;
                    margin: 0 15px 0 0;
                }
            }
        }
    }

    .timelessOuter {
        .timeless {
            display: flex;
            flex-direction: column;
            padding-top: 83px;

            .tlLeft {
                margin-right: 0;

                .tlContent {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 32px;

                    .tlContImages {
                        display: none;
                    }

                    .tlCreation {
                        display: flex;
                        flex-direction: column;
                        max-width: 100%;

                        h1 {
                            font-size: 18px;
                            line-height: 150%;
                            margin-bottom: 24px;
                        }

                        p {
                            font-size: 16px;
                            line-height: 130%;
                            margin-bottom: 0;
                        }

                        .tlContImages {
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-end;
                            margin-bottom: 32px;

                            img {
                                display: flex;
                                margin: 0;
                                width: calc(100% - 10px);
                            }

                            .timelessone {
                                max-width: 30%;
                            }

                            .timelesstwo {
                                max-width: 60%;
                            }
                        }
                    }
                }

                .timelesstwo {
                    display: none;
                }

                section {
                    display: none;
                }
            }

            .tlRight {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                max-width: 380px;

                img {
                    width: 100%;
                }

                .timelessthree {
                    margin-bottom: 20px;
                }

                .timelessfour {
                    max-width: 193px;
                    margin-bottom: 23px;
                }

                a, section {
                    display: flex;
                }
            }
        }

    }

    .findOuter {
        .find {
            background: url("/images/homepage/find_mobile.png") no-repeat;
            background-size: cover;
            padding-top: 30px;
            padding-bottom: 20px;
            margin-top: 84px;

            h1 {
                margin-bottom: 256px;
                font-size: 24px;
                line-height: 38px;

                span {
                    text-transform: lowercase;
                }

                .lower {
                    text-transform: lowercase;
                }
            }

            p {
                font-size: 12px;
                line-height: 120%;
                margin-bottom: 32px;
            }

            .sliders {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;

                .sliderImg {
                    width: calc(50% - 20px);
                }

                .btn {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    margin-left: 0;
                    margin-top: 27px;
                }
            }
        }
    }

    .sgExOuter {
        .sgEx {
            padding-top: 58px;
            padding-bottom: 32px;

            .sgExTop {
                display: flex;
                flex-direction: column;
                margin-bottom: 23px;

                h2 {
                    font-size: 16px;
                    line-height: 150%;
                    letter-spacing: 0.08em;
                    margin-bottom: 23px;
                    text-align: center;
                }

                p {
                    display: none;
                }
            }

            .sgExBottom {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .sgExBLeft {
                    display: flex;
                    flex-direction: column;
                    max-width: 100%;

                    p {
                        margin-top: 9px;
                        margin-bottom: 37px;
                        font-size: 14px;
                    }

                    .summary {
                        display: flex;
                        font-family: TeodorTrialLight, sans-serif;
                        color: #2C2C2C;
                    }

                    video {
                        min-height: 246px;
                        margin-bottom: 9px;
                    }

                    section {
                        display: none;
                    }
                }

                .sgExBRight {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    max-width: 100%;

                    header {
                        font-size: 14px;
                        line-height: 134.5%;
                    }

                    .timelessthree {
                        max-width: calc(50% - 10px);

                        img {
                            margin-bottom: 11px;
                        }
                    }

                    .timelessfour {
                        display: flex;
                        flex-direction: column;
                        max-width: calc(50% - 10px);

                        img {
                            margin-bottom: 11px;
                        }
                    }
                }

                .sgExButton {
                    display: flex;
                    justify-content: center;
                    margin-top: 40px;
                }

            }

        }
    }

    .legacyOuter {
        .legacy {
            padding: 55px 20px 0 20px;
            margin-bottom: 68px;

            .legTop {
                margin-bottom: 32px;
                padding: 0;
                width: 100%;

                h1 {
                    font-size: 16px;
                    line-height: 150%;
                    letter-spacing: 0.08em;
                }

                p {
                    font-size: 12px;
                    line-height: 120%;
                    letter-spacing: 0.03em;
                    max-width: unset;
                    font-family: TeodorTrialLightItalic, sans-serif;
                }

                .legBottom {
                    display: flex;
                    margin-bottom: 18px;

                    video {
                        min-height: 246px;
                        width: 100%;
                    }
                }
            }

            .legBottom {
                display: none;

                img {
                    width: 100%;
                }
            }
        }
    }

    .bookOuter {
        .book {
            padding: 55px 20px 20px 20px;

            .bookTop {
                margin-bottom: 47px;
                padding: 0;

                h1 {
                    font-size: 24px;
                    line-height: 33px;
                    letter-spacing: 0.08em;
                }

                p {
                    font-size: 12px;
                    line-height: 120%;
                    letter-spacing: 0.03em;
                    max-width: unset;
                    font-family: TeodorTrialLightItalic, sans-serif;
                }

            }

            .bookIndex {
                display: flex;
                justify-content: flex-start;
                padding: 0;
                margin-bottom: 10px;

                header {
                    font-size: 20px;
                    line-height: 116.5%;
                }
            }


            .bookBottom {
                display: flex;

                img {
                    width: 100%;
                }
            }

            .bookButtons {
                display: flex;
                justify-content: space-between;
                padding: 0;
                margin: 15px 0 0 0;

            }
        }
    }

}
