.nextback {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 228px;

    img {
        cursor: pointer;
        max-width: 91px;

    }

    .disabled {
        cursor: default;
    }


}