.nextback {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 228px;

    img {
        cursor: pointer;
        max-width: 91px;
        width: 100%;
    }

    .disabled {
        cursor: default;
    }
}

@media only screen and (max-width: 648px) {
    .nextback {
        //width: 90px;
        display: none;

        img {
            max-width: 33px;
        }
    }
}